extends conf

snippet #!
  #!/usr/bin/env python3

snippet main # Main Function
  if __name__ == "__main__":
    ${0:main()}

snippet universal_import # Scientific Research Universal Header
  import numpy as np
  import pandas as pd
  import torch
  import torch.nn as nn
  import torch.utils.data as tdata
  import torchvision
  import torchvision.models as models
  import torchvision.transforms as transforms
  import matplotlib.pyplot as plt
  import cv2 as cv

  import fau_tools$0
