snippet #!
	#!/usr/bin/env python3

# Module Docstring
snippet docs
	"""
	File: ${1:`vim_snippets#Filename('$1.py', 'foo.py')`}
	Author: `g:snips_author`
	Email: `g:snips_email`
	Github: `g:snips_github`
	Description: ${0}
	"""

# if __name__ == '__main__':
snippet main
	if __name__ == '__main__':
		${0:main()}
